@model IEnumerable<Taxi_Monitering.tbl_System_Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Acc_User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACC_Pasword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Role.Role_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Acc_User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACC_Pasword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Role.Role_Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Acc_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Acc_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Acc_ID })
        </td>
    </tr>
}

</table>
