@model IEnumerable<Taxi_Monitering.tbl_Attedance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Att_Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Att_tkn_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Employee.Emp_First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Taxi.Taxi_Code)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Att_Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Att_tkn_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Employee.Emp_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Taxi.Taxi_Code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Att_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Att_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Att_Id })
        </td>
    </tr>
}

</table>
