@model Taxi_Monitering.tbl_Taxi_user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Taxi_user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Commnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commnet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Taxi.Taxi_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Taxi.Taxi_Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
