@model Taxi_Monitering.tbl_Taxi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Taxi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Taxi_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxi_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxi_Manf_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxi_Manf_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxi_Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxi_Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxi_Licence_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxi_Licence_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Taxi_Owner.Owr_First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Taxi_Owner.Owr_First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Zone.Zone_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Zone.Zone_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Taxi_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
