@model IEnumerable<Taxi_Monitering.tbl_Taxi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Taxi_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taxi_Manf_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taxi_Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taxi_Licence_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Taxi_Owner.Owr_First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Zone.Zone_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Taxi_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taxi_Manf_Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taxi_Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taxi_Licence_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Taxi_Owner.Owr_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Zone.Zone_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Taxi_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Taxi_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Taxi_ID })
        </td>
    </tr>
}

</table>
