@model IEnumerable<Taxi_Monitering.tbl_Driver>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Driver_First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver_Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver_lisence_No)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Driver_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver_Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver_lisence_No)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Driver_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Driver_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Driver_ID })
        </td>
    </tr>
}

</table>
