@model IEnumerable<Taxi_Monitering.tbl_Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emp_First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Act_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Postion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Department.Department_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_System_Account.Acc_User_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Act_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Postion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Department.Department_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_System_Account.Acc_User_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Emp_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Emp_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Emp_Id })
        </td>
    </tr>
}

</table>
