@model Taxi_Monitering.tbl_Tariff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Tariff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tariff_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tariff_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tariff_Update_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tariff_Update_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tariff_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
