@model IEnumerable<Taxi_Monitering.tbl_Tariff>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tariff_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tariff_Update_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tariff_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tariff_Update_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Tariff_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Tariff_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Tariff_Id })
        </td>
    </tr>
}

</table>
